body {
    margin: 0px;
}

/* Mini Reset */
a { text-decoration: none; }
h1, h2, h3, h4 { margin: 0px; }

/* Custom Styles */
.inset { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: white;!important}

.inner {
    width: 95%; max-width: 1100px;
    margin-left: auto; margin-right: auto;
}

/* Header 

   header is fixed with an div.inner child to scale navigation contents on resize.

*/

header {
    height: 50px; width: 100%;
    position: fixed;
    padding-top: 10px;
    background-image: -moz-linear-gradient(top, #68aed6, #54a3d1);
    background-image: -ms-linear-gradient(top, #68aed6, #54a3d1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68aed6), to(#54a3d1));
    background-image: -webkit-linear-gradient(top, #68aed6, #54a3d1);
    background-image: -o-linear-gradient(top, #68aed6, #54a3d1);
    background-image: linear-gradient(top, #68aed6, #54a3d1);
    z-index: 3!important;
}


header h2 {
    padding-right: 25px;
    line-height: 45px;
    position: relative; 
    float: left;
    color: #fff;
    font-family: sans-serif;
}

header h2.small-logo { display: none; }

@media only screen and (max-width: 500px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
/* Swap in the smaller logo. */
    header h2.big-logo {
	display: none;
    }

    header h2.small-logo {
	display: inline!important;
    }
}

nav {
    position: relative; float: left;
}

nav a {
    color: #ffffff;
    font-family: helvetica;
    margin-right: 20px;
    line-height: 45px;
}

@media only screen and (max-width: 500px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
/* Decrease navigation margins. */
    nav a { margin-right: 5%; }

}

nav a:last-child {
    margin-right: 0px!important;
}

header a:hover {
    color: #bebebe;
}

div.menu-icons {
    position: relative;
    float: right;
    padding-top: 10px;
}

div.menu-icons a {
    margin-right: 10px;
}

div.menu-icons a:last-child {
    margin-right: 0px!important;
}

div.menu-icons .icon-reorder { display: none; }

@media only screen and (max-width: 600px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
/* Swap in the 'reorder' icon to replace the three menu bar icons. */
    div.menu-icons { width: 50px; }
    div.menu-icons .icon-large { display: none; }
    div.menu-icons .icon-reorder { display: inline; }

}

/* Content */
section h3 {
    font-size: 150%;
}

section p {
    font-family: helvetica;
    line-height: 25px;
    font-weight: lighter;
}

/* Feature Section */
#feature {
    padding-top: 75px;
}

div.feature {
    height: 600px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

div.feature-box {
    background-color: green;
    height: 225px; width: 32%;
    margin-bottom: 225px;
}

@media only screen and (max-width: 600px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
/* Make the feature box span two of the smaller columns when resized. */
    div.feature-box {
	width: 64%;
    }

}


div.feature-column {
    position: relative;
    float: left;
    height: 100px; width: 32%;
    background-color: rgb(141, 196, 82);
    margin-right: 2%;
    margin-top: 450px; /* Remove for feature-box */
}

div.feature-column:last-child {
    float: right;
    margin-right: 0px!important;
}

.ninokuni {
    background: url('../images/ninokuni.jpg') no-repeat center top;
}