body {
    margin: 0px;
}

/* Mini Reset */
a { text-decoration: none; }
h1, h2, h3, h4 { margin: 0px; }

/* Custom Styles */
.inset { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: white;!important}

/* Header 

   header is fixed with an div.inner child to scale navigation contents on resize.

*/

header {
    height: 50px; width: 100%;
    position: fixed;
    padding-top: 10px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68aed6), to(#54a3d1));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

header div.inner {
    width: 95%; max-width: 980px;
    margin-left: auto; margin-right: auto;
}


header h2 {
    margin: 6px 0px 0px 0px;
    padding-right: 25px;
    position: relative; 
    float: left;
    color: #fff;
    font-family: sans-serif;
}

    /* Navigation 
       
       nav is a

*/
nav {
    position: relative; float: left;
}

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\nav a {
    color: #ffffff;
    font-family: helvetica;
    margin-right: 20px;
    line-height: 45px;
}

nav a:last-child {
    margin-right: 0px!important;
}

nav a:hover {
    color: #bebebe;
}

div.menu-icons {
    position: relative;
    float: right;
    padding-top: 10px;
}